.Header{
    background-color: blue;
    height: 100px;
    display: flex;
    align-items: center;
}
.button{
    height: 40px;
    font-size: 24px;
    width: 120px;
    margin-left: 20px;
    gap: 20px;
    border-radius: 15px;
}
